.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 10px solid black;
  margin-bottom: 20px;
  background-color: lightgray;
  text-align: center;
  line-height: 100px;
}

.content-box {
  box-sizing: content-box;
  /*detta är standard, behöver egentligen inte specificeras*/
}

.border-box {
  box-sizing: border-box;
}

.box-width {
  background-color: aqua;
  width: 200px;
  height: 200px;
}
